@import "tailwindcss";

@config "../tailwind.config.js";

/* .cropper {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
} */

.tl { top: -5px; left: -5px; cursor: nwse-resize; }
.tr { top: -5px; right: -5px; cursor: nesw-resize; }
.bl { bottom: -5px; left: -5px; cursor: nesw-resize; }
.br { bottom: -5px; right: -5px; cursor: nwse-resize; }