@import "tailwindcss";

@config "../tailwind.config.js";

.cropper {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.cropper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Crop rectangle */
.crop-box {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.9);
  position: absolute;
  inset: 0;
  border: 2px solid white;
}

.tl { top: -5px; left: -5px; cursor: nwse-resize; }
.tr { top: -5px; right: -5px; cursor: nesw-resize; }
.bl { bottom: -5px; left: -5px; cursor: nesw-resize; }
.br { bottom: -5px; right: -5px; cursor: nwse-resize; }